
*{
    margin: 0;
    padding: 0;
   /* font-family: Arial, Helvetica, sans-serif; */
   font-family: 'Quicksand';font-size: 22px;
    
}
.navbar{
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 30px;
    width: 136px;
}
.logo{
    background-image: url("shake\ logo.png");
    background-size: cover;
    height: 30px;
    width: 136px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid black;
}
.content-nav{
   display: flex;
   justify-content: space-between;
   
   
}
span{
    margin: 50px;
}

/*img
{
    margin-top: 50px;
    margin-left: 50%;

}
*/
 /* .container{
    position: absolute;
    background-color: aqua;

    
   
    
    
} 
 img{
    width: 794px;
    height: 794px;
    margin-top: 50px; 
    float: right;
    
} */
/* .container {
 display:inline-flex;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

image {
  max-width: 100%;
  max-height:100%;
  float: right;
  margin-left: 50%;
}

.text {
  font-size: 70px;
}
   */
.img_deg{
    float: right;
    width: 50%;
    
    
}
.pos_cen{
    position: absolute;
    width: 70%;
    left: 15%;
    top: 40%;
}

.btn {
   font-size: 14px;
   background-color: #ff5d56;
}
/* vertically aligned css code
 .container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 100%
  }
  .image {
    flex-basis: 40%
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
  } */
  .container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: absolute; */
    width: 1200px;
    height: 450px;
    display: flex;
    
  }
  
  .image {
    width: 508px;
    height: 450px;
    
  }
  .text {
    width: 600px;
    height: 53px;
    display:inline-block;
    margin-left: 150px;
    
  }
  .subtext-1{
    width: 600px;
    height: 122px;
    margin: 20px;
    
  }
  .subtext-2{
    margin-left: 5px;
  }
  .happy-palace{
    width: 1200px;
    height: 626px;
    background-color: #ffe8e9;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    padding-top: 100px;
    padding-bottom: 380px;
    padding-left: 40px;
    padding-right: 350px;
  }
  .your-happy{
     width: 500px;
    height: 144px;
    margin-left: 350px;
    margin-right: 350px; 
    padding-left: 50px;
}
/* .calender{
     display: inline-block;
     width: 200px;
     height: 222px;
     background-color: white;
     margin: 50px 50px 50px 50px;
}
.menu{
  display: inline-block;
  width: 200px;
  height: 222px;
  background-color: white;
  margin: 50px 50px 50px 50px;
}
.feedback{
display: inline-block;
width: 200px;
height: 222px;
background-color: white;

} */